<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="mystyle.css"/>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header role="banner" id="top" class="navbar navbar-static-top">
            <div role="navigation" class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">

                        <div class="animbrand"><a href="#" class="navbar-brand"><span
                                class="glyphicon glyphicon-remove"></span>Error</a>
                        </div>
                    </div>

                    <a class="navbar-brand pull-right" th:href="@{/logout}"><i class="glyphicon glyphicon-off"></i> Logout</a>
                </div>
            </div>
        </header>
        <div class="col-lg-9 col-lg-offset-3 ">
            <h1> Error Status</h1>
            <table>
                <tr>
                    <td>Date</td>
                    <td th:text="${timestamp}"/>
                </tr>
                <tr>
                    <td>Path</td>
                    <td th:text="${path}"/>
                </tr>
                <tr>
                    <td>Error</td>
                    <td th:text="${error}"/>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${status}"/>
                </tr>
                <tr>
                    <td>Message</td>
                    <td th:text="${message}"/>
                </tr>
                <tr>
                    <td>Exception</td>
                    <td th:text="${exception}"/>
                </tr>
            </table>

        </div>

    </div>
</div>


</body>
</html>