<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>

    <script type="text/javascript" th:src="@{//code.jquery.com/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script src="examp.js" ></script>
</head>
<body>

<div class="container">
    <div class="text-center">

        <h1>Hello <span th:text="${user.login}"></span> </h1>
        <button type="button" onclick="RestGet()">Login</button>
        <button type="button" th:onclick="'ResponseGet('+${user.id}+')'">Resp</button>
        <button type="button" onclick="UserGet(1,'petya','petya')">User</button>
        <p>
            <a id="signup" class="btn btn-success btn-lg">Sign up</a>
        </p>
    </div>
</div>
<script type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#signup').on('click', function () {
            $("#myModal").modal();
        })
    });
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Signup</h4>

            </div>
            <p id="id-resp"></p>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <!--<label for="login-input-edit">Login</label>-->
            <!--<p id="login-input-edit" type="text"></p>-->



        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>